/*
*
 * Main navigation
 */
.bs-docs-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    /* background-color: #563d7c;*/
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.bs-docs-nav .navbar-collapse {
    border-color: #463265;
}
.bs-docs-nav .navbar-brand {
    color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
    color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
    color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #fff;
    background:none;
}
.bs-docs-nav .navbar-toggle {
    border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
    background-color: #463265;
    border-color: #463265;
}

/* Page headers */
.bs-header {
    padding: 40px 15px 20px; /* side padding builds on .container 15px, so 30px */
    margin:20px 0;
    font-size: 16px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    background-color: #000;
    color: #fff;
;background-repeat:repeat-x;
    background-image:-webkit-linear-gradient(45deg, #020031, #563d7c);
    background-image:-moz-linear-gradient(45deg, #020031, #563d7c);
    background-image:linear-gradient(45deg, #020031, #563d7c)

}
.bs-header p {
    font-weight: 300;
    line-height: 1.5;
}
/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 40px;
    color: #777;
    text-align: left;
    border-top: 1px solid #e5e5e5;
    background-color:#f5f5f5
}
.footer-links {
    margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}